token.txt
storage/token.txt
node_modules
fonts
images
ivf
.idea
.htaccess
.env
assets/img
assets/uploads_thumb
system/*.txt
error_log.log
vps.txt
~test/
system/storage
system/ci_sessions
*.error_log
*.log
*.swp
*.zip
application/logs/*.php
application/cache
