/* -- VARIABLE -- */
$darkpurple : #6c4081;
$purple     : #9465AB;
$litepurple : #B79CCA;
$pink       : #E5B9D1;
$darkgrey   : #808080;
$grey       : #B3B3B7;
$mediumgrey : #8A8888;
$litegrey   : #f7f7f7;
$darkgrey   : #818181;
$liteblack  : #58595B;
$black      : #414042;

$bwhdarkpurple: #7c70b0;
$bwhmedpurple: #9185bd;
$bwhlitepurple: #a99dce;